<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/loto.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta name="description" content="Simple loto game with nodejs">
    <title>Loto</title>
  </head>
  <body>
    <main>
	  <section>
		<form action="getResults" method="post">
			<!-- <textarea rows="1" cols="20" placeholder="enter numbers with comma like 25,3"></textarea> -->
			<input type="submit" value="Generate" class="buttonLoto loto">
		</form>
	  </section>

	  <%if (displayNumbers) { %>
		  <section>
			  <%for (let result in Numbers){%>
				  <span class="loto"><%=Numbers[result]%></span>
			  <%}%>
		  </section>
	  <% } %>
    </main>
  </body>
</html>
